<article class="blog-post">
	<h2 class="blog-post-title"><%= blog.title.upcase %></h2>
	<p class="blog-post-meta">Written <%= distance_of_time_in_words(blog.created_at, Time.now) %> ago</p>
	<%= render partial: "blogs/admin_actions", locals: { blog: blog } %>
	<%= link_to "Click Here To Read", blog %>
</article>