<div class="list-group-item list-group-item-action">
	<a href="<%= topic_path(topic.id) %>" class="row">
		<div class="col-md-10">
			<%= topic.title %>
		</div>
		<div class="col-md-2 text-right">
			<span class="badge badge-primary badge-pill">
				<%= topic.blogs.count %>
			</span>
		</div>
	</a>
</div>