<aside class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>This page is dedicated to my more personal interests, hobbies, and life events, outside of programming. These blogs may contain content that may be considered controversial. If you find that some content is not your cup of tea, you are welcome to leave a comment. Just remember to keep it constructive and have an open mind.</p>
  </div>
  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><%= link_to fa_icon("github"), "https://github.com/sorucoder" %></li>
      <li><%= link_to fa_icon("facebook"), "https://www.facebook.com/marcus.germano/" %></li>
      <li><%= link_to fa_icon("twitter"), "https://twitter.com/GermanoMarcus" %></li>
    </ol>
  </div>
</aside>