<header class="blog-header">
  <div class="container">
    <h1 class="blog-title">SoruCoder's Blog</h1>
    <p class="lead blog-description">Tasty foods for thought. Cook's not always in the kitchen though.</p>
    <%= link_to "Write A New Blog", new_blog_path if logged_in?(:site_admin) %>
  </div>
</header>