<header class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">My Portfolio</h1>
    <p class="lead text-muted">My collection of programming projects I've been working on...</p>
    <p>
    	<%= link_to "Learn More About Me", about_me_path, class: "btn btn-primary" %>
    	<%= link_to "Check Out My Blogs Instead", blogs_path, class: "btn btn-secondary" %>
    </p>
  </div>
</header>