<main role="main" class="inner cover">
  <h1 class="cover-heading">About Me</h1>
  <p class="lead">My name is Marcus E. W. Germano, IV. I go by the username "SoruCoder" on the Internet. I currently reside  in Altoona, Pennsylvania, but I know the Lord has great plans for my life.</p>
  <p class="lead">I'm a self-taught programmer that started on HTML way back in 2004. Since then I have dabbled in CSS, Javascript, C#, Java, and many more. Right now I am focused on Ruby on Rails for semi-professional work, and using C and FreeBASIC in my free time. I plan to tackle Go, C++, and some other web-related technologies in the future.</p>
  <p class="lead">While all of my programming is mostly for hobby and training purposes, I have worked a number of customer service jobs. Everything from handling inbound and outbound phone calls for businesses in the most friendly manner possible, to working in one of the more busy restraunts here in Altoona.
  <p class="lead">I work under the philosophy that in whatever pursuit I take, there will be mistakes. But what is important is how you handle them. There have been numerous times that I can recount where multiple things were going wrong. My strategy is to stop and calm everyone down, then assess what is needed. Then we can assign each person a task, and then resolve the matter.</p> 
</main>